<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<title>Update group</title>
<div th:replace="fragments/header :: header"></div>
<body class="card-body container">
<div style="background-color: white">

    <div class="row">
        <th:block th:replace="fragments/error :: body"></th:block>
    </div>
    <form action="#" th:action="@{/groups/update}" th:object="${group}" method="post" class="card-body">
        <div class="input-group">
            <input readonly type="number" th:field="*{id}" id="id" class="form-control" placeholder="ID">
            <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Name">
            <input type="number" th:field="*{headman.id}" id="headman.id" class="form-control" placeholder="Headman">
            <input class="btn btn-primary" type="submit" value="Update Group">
        </div>
    </form>
</div>
</body>
</html>


