<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout('Users', ~{}, ~{::body})">
<head>
    <title>Users</title>
</head>
<body>
<div>
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th th:replace="fragments/sorted_column :: sorted_column (name='Id', sortName='id')">
            <th th:replace="fragments/sorted_column :: sorted_column (name='First name', sortName='firstName')">
            <th th:replace="fragments/sorted_column :: sorted_column (name='Last name', sortName='lastName')">
            <th class="col-lg-1">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}" class="col-sm-1"></td>
            <td th:text="${user.firstName}" class="col-md-1"></td>
            <td th:text="${user.lastName}" class="col-md-1"></td>
            <td class="input-group sm-3" th:switch="${user.active}">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <form th:action="@{/users/status/{id}(id=${user.id})}"
                          th:case="true" method="post">
                        <button type="submit"
                                class="btn btn-outline-success">Active
                        </button>
                    </form>
                    <form th:action="@{/users/status/{id}(id=${user.id})}"
                          th:case="false" method="post">
                        <button type="submit"
                                class="btn btn-outline-warning">Close
                        </button>
                    </form>
                    <a th:href="@{/users/details/{id}(id=${user.id})}"
                       class="btn btn-outline-primary">Details</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <form action="#" th:action="@{/users/create}" th:object="${user}" method="post" class="card-body">
            <div class="input-group">
                <input type="text" th:field="*{firstName}" id="firstName" class="form-control" placeholder="First name">
                <input type="text" th:field="*{lastName}" id="lastName" class="form-control" placeholder="Last name">
                <input class="btn btn-primary" type="submit" value="Create user">
            </div>
        </form>
    </div>
    <div th:replace="fragments/pagination "></div>
</div>
</body>
</html>